body {
	margin: 0;
	background-color: #f4d8c6;
	font-family: 'PingFangSC-Regular', 'Microsoft JhengHei', '微軟正黑體', Arial,
		Helvetica, sans-serif;
}

#index {
	position: relative;
	width: 100%;
	text-align: center;
	user-select: none;

	.ctx {
		position: relative;
		width: 100%;
		min-height: 100vh;

		& > div {
			display: inline-block;
		}
	}
}
