#home {
	@keyframes swing {
		0% {
			top: 0px;
		}
		50% {
			top: 5px;
		}
		100% {
			top: 0px;
		}
	}

	& > div {
		position: absolute;
		width: 100%;

		& > div {
			position: absolute;
			height: 100%;
		}
	}

	.cloud {
		@img: './img/cloud.png';
		height: image-height(@img);
		margin-top: 54px;

		& > div {
			background-image: url(@img);
			width: image-width(@img);
			left: 50%;
			margin-left: -440px;

			animation-duration: 3s;
			animation-delay: -30s;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
			animation-name: swing;
		}
	}

	.drink-0 {
		@img: './img/drink-0.png';
		height: image-height(@img);
		margin-top: 24px;

		& > div {
			background-image: url(@img);
			width: image-width(@img);
			left: 50%;
			margin-left: -132px;

			animation-duration: 3s;
			animation-delay: -20s;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
			animation-name: swing;
		}
	}

	.leaf-0 {
		@img: './img/leaf.png';
		height: image-height(@img);
		margin-top: 73px;

		& > div {
			background-image: url(@img);
			width: image-width(@img);
			animation-duration: 50s;
			animation-delay: -21s;
		}
	}

	.leaf-1 {
		@img: './img/leaf.png';
		height: image-height(@img);
		margin-top: 363px;

		& > div {
			background-image: url(@img);
			width: image-width(@img);
			animation-duration: 60s;
			animation-delay: 0s;
			transform: scale(-1, 1);
		}
	}

	.leaf-2 {
		@img: './img/leaf-2.png';
		height: image-height(@img);
		margin-top: 323px;

		& > div {
			background-image: url(@img);
			width: image-width(@img);
			animation-duration: 80s;
			animation-delay: -65s;
		}
	}

	.drink-1 {
		@img: './img/drink-1.png';
		height: image-height(@img);
		margin-top: 400px;

		& > div {
			background-image: url(@img);
			width: image-width(@img);
			animation-duration: 30s;
			animation-delay: -20s;
		}
	}
}

@media only screen and (max-width: 750px) {
	#home {
		.drink-0 {
			margin-top: 100px;
			transform: scale(2);
		}
	}
}
