#effect {
	position: relative;
	width: 100%;
	height: calc(~'100% - 54px');

	& > div {
		position: absolute;
	}

	& > div:nth-child(1) {
		@img: './img/eff/0.png';
		background-image: url(@img);
		width: image-width(@img);
		height: image-height(@img);
		bottom: 0;
		left: -10px;
	}

	& > div:nth-child(2) {
		@img: './img/eff/1.png';
		background-image: url(@img);
		width: image-width(@img);
		height: image-height(@img);
		bottom: 0;
		right: 0px;
	}

	& > div:nth-child(3) {
		@img: './img/eff/2.png';
		background-image: url(@img);
		width: image-width(@img);
		height: image-height(@img);
		top: 28%;
		left: 2%;
	}

	& > div:nth-child(4) {
		@img: './img/eff/3.png';
		background-image: url(@img);
		width: image-width(@img);
		height: image-height(@img);
		top: 30%;
		right: 2%;
	}

	& > div:nth-child(5) {
		@img: './img/eff/4.png';
		background-image: url(@img);
		width: image-width(@img);
		height: image-height(@img);
		top: 53%;
		right: 14%;
	}

	& > div:nth-child(6) {
		@img: './img/eff/5.png';
		background-image: url(@img);
		width: image-width(@img);
		height: image-height(@img);
		top: 55%;
		right: 3%;
	}

	& > div:nth-child(7) {
		@img: './img/eff/6.png';
		background-image: url(@img);
		width: image-width(@img);
		height: image-height(@img);
		top: 13%;
		right: 15%;
	}

	& > div:nth-child(8) {
		@img: './img/eff/7.png';
		background-image: url(@img);
		width: image-width(@img);
		height: image-height(@img);
		top: 40%;
		left: 7%;
	}

	& > div:nth-child(9) {
		@img: './img/eff/8.png';
		background-image: url(@img);
		width: image-width(@img);
		height: image-height(@img);
		top: 66%;
		left: 16%;
	}
}
