#Taste {
	position: relative;
	width: 100%;
	height: auto;

	& > div {
		position: relative;
		float: left;
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
	}

	.keyv {
		height: 495px;

		& > div {
			position: absolute;
		}

		.title {
			top: 21px;
			left: 38px;
			width: image-width(@img);
			height: image-height(@img);
			background-repeat: no-repeat;

			@img: './img/0/title.png';

			& > div {
				position: absolute;
				top: 20px;
				left: -34px;
				width: image-width(@img);
				height: 78px;

				@img: './img/title-line.png';
				mask-image: url(@img);
				mask-position: 0px 0px;
				mask-repeat: no-repeat;
			}
		}

		.drink {
			transform-origin: center bottom;

			@img: './img/0/drink.png';
		}

		.cups {
			bottom: -175px;
			left: 10px;
			width: image-width(@img);
			height: image-height(@img);

			@img: './img/0/cups.png';
		}

		.pop {
			top: 30px;
			left: 381px;
			width: image-width(@img);
			height: image-height(@img);
			transform-origin: 9px 253px;

			@img: './img/0/pop.png';

			& > div {
				width: 100%;
				height: 100%;
			}
		}
	}

	hr {
		width: 90%;
		height: image-height(@img);
		border: none;
		background-image: url(@img);
		background-size: 100% 100%;

		@img: './img/hr.png';
	}

	.headline {
		margin-top: 200px;
		margin-bottom: 20px;
		height: image-height(@img);

		@img: './img/0/headline.png';
	}

	.checkboxs {
		height: 324px;

		.row {
			float: left;
			padding: 17px 38px;
			width: 100%;

			& > div {
				position: relative;
				float: left;
			}

			.checkbox {
				margin-top: 10px;
				width: 20px;
				height: 20px;
				border: solid #fff 3px;

				& > div {
					position: absolute;
					top: -15px;
					left: 1px;
					width: image-width(@img);
					height: image-height(@img);

					@img: './img/check.png';
					mask-image: url(@img);
				}
			}

			.txt {
				margin-left: 20px;
				color: #fff;
				font-size: 30.4px;
			}

			.dollor {
				margin: 9px 48px;
				width: image-width(@img);
				height: image-height(@img);
				background-image: url(@img);

				@img: './img/dollor.png';

				& > div {
					box-sizing: border-box;
					padding: 0px 0px 0px 50px;
					width: 100%;
					height: 100%;
					color: #fff;
					color: #333;
					font-size: 30.4px;
					line-height: 58px;
				}
			}

			.product-btn {
				margin: 9px 32px;
				width: image-width(@img);
				height: image-height(@img);
				color: #fff;
				text-align: left;
				text-indent: 26px;
				font-size: 30.4px;
				line-height: image-height(@img);
				cursor: pointer;
				transition: 0.2s;

				@img: './img/btn-bg.png';
				mask-image: url(@img);

				& > div {
					float: right;
					margin-top: 17px;
					margin-right: 23px;
					width: image-width(@img);
					height: image-height(@img);
					background-image: url(@img);

					@img: './img/link.png';
				}

				&:hover {
					transform: scale(1.05);
				}
			}
		}
	}

	.boxs {
		height: auto;

		.boxs-c {
			display: inline-block;
			margin-bottom: 20px;
			padding: 21px 30px;
			width: 395px;
			border-radius: 30px;
			background-color: rgba(255, 255, 255, 0.1);

			.red {
				background-color: #f65e62;
			}

			.green {
				background-color: #00b4a0;
			}

			.box {
				display: inline-block;
				box-sizing: border-box;
				margin: 9px 21px;
				padding: 8px;
				width: 152px;
				height: 128px;
				border-radius: 30px;
				box-shadow: 5px 5px 0px #383e41;
				color: #fff;

				& > div:nth-child(1) {
					float: left;
					width: 100%;
					height: 46px;
					border-bottom: solid 2px #fff;
					font-size: 24px;
					line-height: 46px;
				}

				& > div:nth-child(2) {
					float: left;
					padding-top: 6px;
					width: 100%;
					font-size: 20.8px;
					line-height: 28px;
				}
			}
		}
	}

	.calc {
		height: 340px;

		.pd-l {
			margin-left: 61px;
		}

		.row {
			float: left;
			padding: 8px 38px;
			width: 100%;

			& > div {
				position: relative;
				float: left;
			}

			.arrow {
				margin-top: 7px;
				width: image-width(@img);
				height: image-height(@img);
				background-image: url(@img);

				@img: './img/arrow.png';
			}

			.txt {
				margin-left: 20px;
				color: #fff;
				font-size: 30.4px;
			}

			.age {
				margin-left: 81px;
				width: image-width(@img);
				height: 50px;
				background-image: url(@img);
				background-position: center bottom;
				background-repeat: no-repeat;

				@img: './img/line_1.png';

				& > select {
					width: 100%;
					height: 100%;
					border: none;
					background-color: transparent;
					color: #fff;
					text-align: center;
					font-size: 32px;
				}
			}

			.gender {
				margin-left: 20px;
				width: image-width(@img);
				height: image-height(@img);
				height: 50px;
				background-image: url(@img);
				background-position: center bottom;
				background-repeat: no-repeat;

				@img: './img/line_2.png';

				& > select {
					width: 100%;
					height: 100%;
					border: none;
					background-color: transparent;
					color: #fff;
					text-align: center;
					text-indent: 10px;
					font-size: 32px;
				}
			}

			.pay {
				margin-right: 10px;
				margin-left: 20px;
				width: image-width(@img);
				height: image-height(@img);
				background-image: url(@img);

				@img: './img/pay.png';

				& > div {
					box-sizing: border-box;
					padding: 0px 0px 0px 50px;
					width: 100%;
					height: 100%;
					color: #fff;
					color: #333;
					font-size: 30.4px;
					line-height: 50px;
				}
			}

			.pay_monly {
				margin-top: 10px;
				margin-left: 20px;
				width: image-width(@img);
				height: image-height(@img);
				background-image: url(@img);

				@img: './img/pay_monly.png';

				& > div {
					box-sizing: border-box;
					padding: 0px 0px 0px 88px;
					width: 100%;
					height: 100%;
					color: #fff;
					color: #d10737;
					font-size: 30.4px;
					line-height: 50px;
				}
			}
		}
	}

	.desc {
		margin: 20px 0;
		color: #fff;
		text-align: left;
		text-indent: 50px;
		font-size: 19.2px;
	}
}

@import './main-desktop.less';
@import './tasta_0.less';
@import './tasta_1.less';
@import './tasta_2.less';
