@media only screen and (min-width: 1000px) {
	#Taste {
		.keyv {
			height: 392px;

			.title {
				left: 249px;
				top: 60px;

				& > div {
					top: 65px;
					mask-position: 0px -78px;
				}
			}

			.drink {
				transform: scale(0.8);
				left: 0px;
				bottom: -28px;
			}

			.cups {
				left: 276px;
				bottom: 10px;
				transform: scale(0.8);
			}

			.pop {
				left: 556px;
				top: -5px;
				& > div {
					transform: scale(0.8);
				}
			}
		}

		.headline {
			margin-top: 20px;
		}

		.checkboxs {
			height: 190px;

			.row {
				padding: 20px 50px;

				.dollor {
					margin: -9px 20px;
				}

				.product-btn {
					margin: -8px 18px;
				}
			}
		}

		.boxs {
			.boxs-c {
				width: 640px;
				padding: 21px 30px;
				box-sizing: border-box;
			}
		}

		.calc {
			height: 250px;

			.row {
				padding: 7px 50px;
				.pay_monly {
					margin-top: 0px;
				}
			}
		}
	}
}
