body {
	margin: 0;
	background-color: #fff;
	font-family: 'PingFangSC-Regular', 'Microsoft JhengHei', '微軟正黑體', Arial,
		Helvetica, sans-serif;
	min-height: -webkit-fill-available;
}

html {
	min-height: -webkit-fill-available;
}

.lesca-loading-bg {
	background-color: rgba(244, 216, 198, 0.97) !important;
}

.lesca-loading-c .l {
	background-color: #d10737 !important;
}

.lesca-loading-text {
	color: #d10737 !important;
}
