@import './../global.less';
#Plan {
	position: relative;
	width: 100%;
	text-align: center;
	user-select: none;
	line-height: 0;

	.ctx {
		position: relative;
		width: 100%;
		min-height: 100vh;
		min-height: -webkit-fill-available;
		background: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0.1) 0px,
			rgba(0, 0, 0, 0) 300px
		);

		& > div {
			display: inline-block;
		}

		.content {
			position: relative;
			width: 100%;
			height: auto;
			margin: 0 0;
			line-height: normal;
		}
	}
}
